.utopia {
  font-family: utopia-std-caption, serif;
  font-style: normal;
  font-weight: 700;
}

.work {
	font-family: work-sans, sans-serif;
	font-weight: 800;
	font-style: normal;
}

.dots {
  background-image: radial-gradient(#BBB 20%, transparent 20%),
  radial-gradient(#BBB 20%, transparent 20%);
  background-position: 0 0, 5px 5px;
  background-size: 5px 5px;
}
