* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-size: 100%;
  font-family: 'Roboto Mono', monospace;
  color: #26242C; }

h1, h2 {
  margin: 0; }

div {
  margin: 0; }

p {
  margin: 0; }

ul, li {
  list-style: none; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

footer {
  background-color: #FF8415;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  margin-top: 4em; }
  footer .btn-primary {
    font-size: 2em;
    padding: 3em; }

.folio-container {
  margin: auto;
  display: grid;
  width: 50vw;
  max-width: 50em; }
  .folio-container .btn-primary {
    color: #26242C;
    margin: 0;
    padding: 0;
    margin-top: 2em;
    border: none; }
  .folio-container .title-project {
    font-size: 3em;
    font-weight: 700;
    line-height: 1.5em;
    margin-bottom: 0.75em;
    padding-top: 1em; }
  .folio-container .title-section {
    font-size: 1.5em;
    letter-spacing: normal;
    font-weight: 500;
    line-height: 1.5em;
    margin-bottom: 0.75em;
    margin-top: 2.25em; }
  .folio-container p {
    font-weight: 400;
    font-size: 1.1em;
    line-height: 1.8em;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 1.5em; }
  .folio-container .highlight {
    font-weight: 700; }
  .folio-container .lede {
    font-size: 1.6em;
    line-height: 1.8em;
    color: #80818B; }
  .folio-container .new {
    color: #FF8415; }
  .folio-container .existing {
    color: green; }

.img-work {
  margin-bottom: 4em; }
  .img-work p {
    background-color: #ffff2d; }
  .img-work img, .img-work video {
    width: 100%;
    border: 2px solid #80818B; }

.footnote {
  display: block;
  margin-top: 1em;
  font-size: 0.9em;
  line-height: 1.5em;
  margin-bottom: 1em; }

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh; }

.about {
  background-color: #26242C;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-size: cover; }
  .about .welcome {
    width: 80%;
    min-width: 20em;
    margin: 0.8em;
    text-align: center;
    color: #F2F2F2; }
    .about .welcome .btn-primary {
      color: #FF8415;
      padding: 1em;
      display: inline-block;
      margin-bottom: 2em; }
    .about .welcome .title {
      font-size: 3em;
      font-weight: 700;
      line-height: 1.5em;
      margin-bottom: 0.75em;
      display: block; }
    .about .welcome .st {
      opacity: 0.1; }

.projects {
  display: flex;
  justify-content: center;
  align-items: center; }
  .projects .p-list {
    display: flex;
    flex-direction: column;
    width: 80%;
    position: relative; }
    .projects .p-list .open {
      color: #FF8415; }
    .projects .p-list .locked {
      color: #CBCACE;
      text-decoration: none; }
    .projects .p-list li {
      margin-bottom: 1em; }
    .projects .p-list .sp {
      margin-top: 2em; }
    .projects .p-list li a {
      font-size: 1.5em;
      letter-spacing: normal;
      font-weight: 500;
      line-height: 1.5em;
      margin-bottom: 0.75em; }

@media only screen and (max-width: 600px) {
  body {
    font-size: 120%; }

  .grid {
    display: block; }

  .about .welcome .btn-primary {
    display: block;
    margin: 0; }

  .about .welcome {
    min-width: 90%; }

  .projects .p-list {
    width: 80%;
    padding: 0; }

  .folio-container {
    width: 90%; }

  .about {
    height: auto; }

  .project-grid {
    width: 80%; } }
/*# sourceMappingURL=main.css.map */

/*# sourceMappingURL=main.css.map */
