@import "mixins.scss";

// Globals

* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  font-size: 100%;
  font-family: 'Roboto Mono', monospace;
  color: $eggplant;
}

h1, h2 {
  margin: 0;
}

div {
  margin: 0;
}

p {
  margin: 0;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.btn-primary {
  color: $default-bg;
  text-decoration: none;
  margin: 1em;
  border: 1px solid $default-bg;
  padding: 1em;
  display: inline-block;
}

footer {
  background-color: $db-blaze;
  width: 100%;
  margin: 0;
  height: 10em;
  margin-top: 4em;

  .btn-primary {
    display: block;
    width: 80%;
    margin: auto;
    text-align: center;
    border: none;
    font-size: 2em;
  }
}

// work-typography

.folio-container {
  margin: auto;
  width: 80%;
  max-width:  64em;

  .btn-primary {
    color: $eggplant;
    margin: 0;
    padding: 0;
    margin-top: 2em;
    border: none;
  }

  .title-project {
    @include big-t;
    padding-top: 1em;
  }

  .title-section {
    @include medium-t;
    margin-top: 2.25em;
  }

  p {
    font-weight: 300;
    font-size: 0.9em;
    line-height: 2em;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.56px;

    margin-bottom: 1.5em;
  }

  .highlight {
    font-weight: 700;
  }

  .lede {
    font-size: 1.1em;
    line-height: 2.2em;
    color: $db-steel;
  }

  .new {
    color: $db-blaze;
  }

  .existing {
    color: green;
  }

}

// work-imagery

.img-work {
  margin-bottom: 4em;

  //caption
  p {
    color: $eggplant;
    background-color: yellow;
    font-size: 0.9em;
    line-height: 1.6em;
  }

  img, video {
    width: 100%;
    border: 2px solid $db-steel;
  }
}

// Landing page typography

p {
  @include medium-t;
  color: #26242C;
  margin: 0;
  padding: 0;
}

.label {
  @include small-t;
}

// Parent Grid
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

// LHS
.about {
  background-color: $eggplant;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-size: cover;

  .welcome {
    width: 80%;
    min-width: 300px;
    margin: 12px;
    text-align: center;
    color: $default-bg;

    .label {
      @include small-t;
      display: block;
    }

    .title {
      @include big-t;
      display: block;
    }

    .footnote {
      display: block;
      margin-bottom: 2em;
    }
  }
}


//RHS

.projects {
  display: flex;
  justify-content: center;
  align-items: center;

  .p-list {
    display: flex;
    flex-direction: column;
    width: 80%;
    position: relative;

    .open {
      color: $db-blaze;
    }

    .locked {
      color: $db-rain;
      text-decoration: none;
    }

    p {
      font-size: 0.9em;
      line-height: 1.5em;
      margin-bottom: 3em;
      }

    li {
      margin-bottom: 40px;
    }

    li a {
      @include medium-t;
    }

  }
}

// Desktop first. Large screen styles are in your regular screen CSS.

// Below 600px show this:
@media (max-width: 600px) {
  html {
    font-size: 160%;
  }

  .grid {
    grid-template-columns: none;
  }

  .folio-container {
    width: 90%;
  }

  .about {
    height: auto;
  }

  .project-grid {
    width: 80%;
  }
}

/*# sourceMappingURL=main.css.map */
