@import "mixins.scss";

// Globals

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 100%;
  font-family: 'Roboto Mono', monospace;
  color: $eggplant;
}

h1, h2 {
  margin: 0;
}

div {
  margin: 0;
}

p {
  margin: 0;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  background-color: $db-blaze;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;

  margin-top: 4em;

  .btn-primary {
    font-size: 2em;
    padding: 3em;
  }
}

// work-typography

.folio-container {
  margin: auto;
  display: grid;
  width: 50vw;
  max-width: 50em;

  .btn-primary {
    color: $eggplant;
    margin: 0;
    padding: 0;
    margin-top: 2em;
    border: none;
  }

  .title-project {
    @include big-t;
    padding-top: 1em;
  }

  .title-section {
    @include medium-t;
    margin-top: 2.25em;
  }

  p {
    font-weight: 400;
    font-size: 1.1em;
    line-height: 1.8em;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 1.5em;
  }

  .highlight {
    font-weight: 700;
  }

  .lede {
    font-size: 1.6em;
    line-height: 1.8em;
    color: $db-steel;
  }

  .new {
    color: $db-blaze;
  }

  .existing {
    color: green;
  }

}

// work-imagery

.img-work {
  margin-bottom: 4em;

  //caption
  p {
    background-color: $popcorn;
  }

  img, video {
    width: 100%;
    border: 2px solid $db-steel;
  }
}

// Landing page

.footnote {
  display: block;
  margin-top: 1em;
  font-size: 0.9em;
  line-height: 1.5em;
  margin-bottom: 1em;
}

// Parent Grid
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

// LHS
.about {
  background-color: $eggplant;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-size: cover;

  .welcome {
    width: 80%;
    min-width: 20em;
    margin: 0.8em;
    text-align: center;
    color: $default-bg;

    .btn-primary {
      color: $db-blaze;
      padding: 1em;
      display: inline-block;
      margin-bottom: 2em;
    }

    .title {
      @include big-t;
      display: block;
    }

    .st {
      opacity: 0.1;
    }
  }
}


//RHS

.projects {
  display: flex;
  justify-content: center;
  align-items: center;

  .p-list {
    display: flex;
    flex-direction: column;
    width: 80%;
    position: relative;

    .open {
      color: $db-blaze;
    }

    .locked {
      color: $db-rain;
      text-decoration: none;
    }

    li {
      margin-bottom: 1em;
    }

    .sp {
      margin-top: 2em;
    }

    li a {
      @include medium-t;
    }

  }
}

// Desktop first. Large screen styles are in your regular screen CSS.

// Below 600px show this:

@media only screen and (max-width: 600px) {
  body {
    font-size: 140%;
  }
//Stacks 2x2 grid
  .grid {
    display:block;
  }

//stacks buttons
  .about .welcome .btn-primary {
    display: block;
    margin: 0;
  }

  .about .welcome {
    min-width: 90%;
  }

  .projects .p-list {
    width: 80%;
    padding: 0;
  }

  .folio-container {
    width: 100%;
  }

  .about {
    height: auto;
  }

  .project-grid {
    width: 80%;
  }
}

/*# sourceMappingURL=main.css.map */
