// Swatches
$default-bg: #F2F2F2;
$eggplant: #26242C;

$db-blaze: #FF8415;
$db-rain: #CBCACE;
$db-steel: #80818B;
$db-gunmetal: #474E5B;


// Gradient
@mixin linear-gradient($from, $to) {
  background-color: $to;//fallback
  background-image: -moz-linear-gradient($from, $to);
  background-image: -o-linear-gradient($from, $to);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, $from), color-stop(1, $to));
  background-image: -webkit-linear-gradient($from, $to);
  background-image: -ms-linear-gradient($from, $to);
  background-image: linear-graident($from, $to);
}

@mixin rounded($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}


// line height: 0.75, 1.5, 2.25, 3, 3.75, 4.5
// Typography
@mixin big-t {
	font-size: 3em; //48px
	font-weight: 700;
	line-height: 1.5em;
	margin-bottom: 0.75em; //
} 

@mixin medium-t {
	font-size: 1.5em;
	letter-spacing: normal;
	font-weight: 500;
	line-height: 1.5em;
	margin-bottom: 0.75em;
} 

@mixin small-t {
	font-weight: 500;
	font-size: 1em;
	line-height: 2.25em;
	margin-bottom: 1.5em;
}

// Help

@mixin boxify {
	border: 5px solid red;
}

// Transitions
@mixin fade {
	transition-duration: 300ms;
	transition-timing-function: ease-in;
}