<html>
<head>
	<title>Index</title>
	<link rel="stylesheet" type="text/css" href="./css/stylesheet.css" media="screen">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Mono:500,700" rel="stylesheet">

</head>

<body>
	<div class="grid">

		<div class="about">
			<div class="welcome">
				<span class="label">Welcome to the</span>
				<span class="title">がすこししかせま</span>
				<a class="btn-primary" href="#">Est. 2014</a>
				<span class="footnote">Menlo Park, CA</span>

			</div>
		</div>

	</div>
</body>